@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
	color: #242424;
	font-family: "Poppins", sans-serif;
	line-height: 1.5;
	max-width: 960px;
	margin: auto;
	padding: 1cm;
    background-color:hsl(0, 0%, 100%);
}

h1, h2 {
	color: #000000;
	font-family: "Poppins";
	font-weight: bold;
}

#profile_pic {
	float: right;
	width: 200px;
}

h1 {
	font-size: 3rem;
	margin-top: 2.0rem;
	margin-bottom: 1.0rem;
	line-height: 1.0;
}

h2 {
	font-size: 2rem;
	margin-top: 3rem;
	margin-bottom: 0.5rem;
}

h3 {
	font-weight: normal;
	color: #000000;
}

th {
	padding: 0 1rem;
	text-align: right;
	font-weight: 600;
}

li {
	margin: 1rem 0;
}

a {
	color: #1e4ecf;
	text-decoration: none;
}

a:active, a:focus, a:hover {
	border-bottom: solid 2px;
}

a:visited {
	color: #1e4ecf;
}

u {
	text-decoration: none;
	border-bottom: 1px solid black;
}

b {
	font-weight: 600;
}

footer {
	margin-top: 3rem;
	color: #778f8d;
	font-size: 0.9rem;
	text-align: center;
}